@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

:root {
  --color-bg: #333;
  --color-fg: #AAA;
  --font: 'Roboto', sans-serif;
  --font-condensed: 'Roboto Condensed', sans-serif;
}

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html, body { height: 100%; }

html {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font);
}

body { margin: 0; box-shadow:0 0 0 4px red inset; }

